<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="../static/core.css"> 
</head>
<body>
    <div class="loading">
        <div class="lds-css ng-scope">
            <div class="lds-cube">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <header class="header text-size24">
        <hgroup class="title"><a href="/web" style="list-style: none;text-decoration: none;">Cluster and Cloud Computing</a></hgroup>
        <nav class="nav">
            <ul>
                <li><a href="food_page" , target="_self">Food</a></li>
                <li>Exercise</li>
                <li><a href="sleep_page" , target="_self">Sleep</a></li>
            </ul>
        </nav>  
    </header>
        <section>
                <aside class="aside"> 
                    <ul class="tab">
                        <li><a href="#mapviewDiv">Top</a></li>
                        <li><a href="#basketball">Basketball</a></li>
                        <li><a href="#cycling">Cycling</a></li>
                        <li><a href="#dancing">Dancing</a></li>
                        <li><a href="#golf">Golf</a></li>
                        <li><a href="#horsing">Horsing</a></li>
                        <li><a href="#karate">Karate</a></li>
                        <li><a href="#rugby">Rugby</a></li>
                        <li><a href="#soccer">Soccer</a></li>
                        <li><a href="#swimming">Swimming</a></li>
                        <li><a href="#tennis">Tennis</a></li>
                    </ul>
                </aside>
            <article class="article">
                <div id="mapviewDiv"></div>
                <div id="titleDiv" class="esri-widget">
                    <div id="titleText">Exercise</div>
                    <div>Different Execise Heat in suburbs</div>
                </div>
                <div id="charts"></div>              
            </article>
        </section>      
</body>
</html>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css" />
<script src="https://js.arcgis.com/4.15/"></script>
<script>
    document.onreadystatechange = function () {
        //console.log(document.readyState);
        if (document.readyState == "complete") {
            $('.loading').fadeOut();
        }
    }
</script>
<script>
    require(["esri/Map", "esri/views/MapView", "esri/layers/FeatureLayer", "esri/widgets/Legend"], function (Map, MapView, FeatureLayer, Legend) {
        var map = new Map({
            basemap: "gray"
        });

        var view = new MapView({
            container: "mapviewDiv", // Reference to the scene div created in step 5
            map: map, // Reference to the map object created before the scene
            zoom: 11, // Sets zoom level based on level of detail (LOD)
            center: [145.00, -37.80], // Sets center point of view using longitude,latitude
            popup: {
                dockEnabled: true,
                dockOptions: {
                    buttonEnabled: false,
                    breakpoint: false
                }
            }
        });

        var suburbLayer = new FeatureLayer({
            portalItem: {  // autocasts as esri/portal/PortalItem
                id: "9571feb97e5b48a5ba6b8be1d4440927"
            }
        });

        var legend = new Legend({
            view: view,
            layerInfos: [{
                layer: suburbLayer,
                title: "Total tweets"
            }]
        });

        var template = {
            // NAME and COUNTY are fields in the service containing the Census Tract (NAME) and county of the feature
            title: "{name}",
            content: [
                {
                type: "fields",
                fieldInfos: [
                    {
                    fieldName: "sport_cycling",
                    label: "Cycling"
                    },
                    {
                    fieldName: "sport_rugby",
                    label: "Rugby"
                    },
                    {
                    fieldName: "sport_basketball",
                    label: "Basketball"
                    },
                    {
                    fieldName: "sport_horsing",
                    label: "Horsing"
                    },
                    {
                    fieldName: "sport_tennis",
                    label: "Tennis"
                    },
                    {
                    fieldName: "sport_golf",
                    label: "Golf"
                    },
                    {
                    fieldName: "sport_swimming",
                    label: "Swimming"
                    },
                    {
                    fieldName: "sport_soccer",
                    label: "Soccer"
                    },
                    {
                    fieldName: "sport_dancing",
                    label: "Dancing"
                    },
                    {
                    fieldName: "sport_karate",
                    label: "Karate"
                    },
                ]
                },
                {
                    type:"text",
                    text: "There are {sport_total} sports related tweets within {name}"
                },
                {
                type: "media", // MediaContentElement
                mediaInfos: [
                  {
                    title: "<b>Distribution of each exercise</b>",
                    type: "pie-chart",
                    caption: "",
                    value: {
                      fields: ["sport_cycling", "sport_rugby","sport_basketball","sport_horsing", "sport_tennis", "sport_golf","sport_swimming", "sport_soccer","sport_dancing","sport_karate"],
                      normalizeField: null,
                    //   tooltipField: ""
                    }
                  }
                ]
              },
            ]
        };
        map.add(suburbLayer, 0);
        view.ui.add("titleDiv","bottom-right");
        suburbLayer.popupTemplate = template;
        view.ui.add(legend, "bottom-left");
    })
</script>
<script src="../static/exercise_charts.js"></script>
