<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="../static/core.css"> 
</head>
<body>
    <div class="loading">
        <div class="lds-css ng-scope">
            <div class="lds-cube">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <header class="header text-size24">
        <hgroup class="title">Cluster and Cloud Computing</hgroup>
        <nav class="nav">
            <ul>
                <li>Food</li>
                <li><a href="web/exercise_page" , target="_self">Exercise</a></li>
                <li><a href="web/sleep_page" , target="_self">Sleep</a></li>
            </ul>
        </nav>  
    </header>
        <section>
                <aside class="aside"> 
            <ul class="tab">
                <li><a href="#mapviewDiv">Top</a></li>
                <li><a href="#australia">Australian Food</a></li>
                <li><a href="#china">Chinese Food</a></li>
                <li><a href="#greece">Greek Food</a></li>
                <li><a href="#india">Indian Food</a></li>
                <li><a href="#italy">Italian Food</a></li>
                <li><a href="#japan">Japanese Food</a></li>
                <li><a href="#korea">Korean Food</a></li>
                <li><a href="#thai">Thai Food</a></li>
            </ul>
                </aside>
        <article class="article">
            <div id="mapviewDiv"></div>
            <div id="titleDiv" class="esri-widget">
                <div id="titleText">Food</div>
                <div>Different country Food Heat in suburbs</div>
            </div>
            <div id="charts"></div>                   
        </article>              
    </section>
</body>
</html>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css" />
<script src="https://js.arcgis.com/4.15/"></script>
<script>
    document.onreadystatechange = function () {
        //console.log(document.readyState);
        if (document.readyState == "complete") {
            $('.loading').fadeOut();
        }
    }
</script>
<script>
    require(["esri/Map", "esri/views/MapView", "esri/layers/FeatureLayer", "esri/widgets/Expand", "esri/widgets/Legend"], function (Map,
        MapView, FeatureLayer, Expand, Legend) {
        let foodLayerView;
        var map = new Map({
            basemap: "gray"
        });
        var view = new MapView({
            container: "mapviewDiv", // Reference to the scene div created in step 5
            map: map, // Reference to the map object created before the scene
            zoom: 10, // Sets zoom level based on level of detail (LOD)
            center: [145.06, -37.91], // Sets center point of view using longitude,latitude
            popup: {
                dockEnabled: true,
                dockOptions: {
                    buttonEnabled: false,
                    breakpoint: false
            }
          }
        });

        var suburbLayer = new FeatureLayer({
            portalItem: {  // autocasts as esri/portal/PortalItem
                id: "a6bb1278495f42b58fcae4f17851972e"
            },
            popupTemplate: {
            // autocasts as new PopupTemplate()
            title: "{name}",

            // Set content elements in the order to display.
            // The first element displayed here is the fieldInfos.
            content: [
              {
                // It is also possible to set the fieldInfos outside of the content
                // directly in the popupTemplate. If no fieldInfos is specifically set
                // in the content, it defaults to whatever may be set within the popupTemplate.
                type: "fields", // FieldsContentElement
                fieldInfos: [
                  {
                        fieldName: "food_austrilia",
                        label: "Austrilian Food"
                    },
                    {
                        fieldName: "food_china",
                        label: "Chinese Food"
                    },
                    {
                        fieldName: "food_korea",
                        label: "Korean Food"
                    },
                    {
                        fieldName: "food_india",
                        label: "Indian Food"
                    },
                    {
                        fieldName: "food_greece",
                        label: "Greek Food"
                    },
                    {
                        fieldName: "food_italy",
                        label: "Italian Food"
                    },
                    {
                        fieldName: "food_thai",
                        label: "Thai Food"
                    }
                ]
              },
              {
                // You can also set a descriptive text element. This element
                // uses an attribute from the featurelayer which displays a
                // sentence giving the total amount of trees value within a
                // specified census block. Text elements can only be set within the content.
                type: "text", // TextContentElement
                text:
                  "There are {food_total} food related tweets within {name}"
              },
              {
                // You can set a media element within the popup as well. This
                // can be either an image or a chart. You specify this within
                // the mediaInfos. The following creates a pie chart in addition
                // to two separate images. The chart is also set up to work with
                // related tables. Similar to text elements, media can only be set within the content.
                type: "media", // MediaContentElement
                mediaInfos: [
                  {
                    title: "<b>Distribution of each country food</b>",
                    type: "pie-chart",
                    caption: "",
                    value: {
                      fields: ["food_austrilia", "food_china","food_korea","food_india","food_greece","food_italy","food_thai",],
                      normalizeField: null,
                    //   tooltipField: ""
                    }
                  }
                ]
              },
              {
                // You can set a attachment element(s) within the popup as well.
                // Similar to text and media elements, attachments can only be set
                // within the content. Any attachmentInfos associated with the feature
                // will be listed in the popup.
                type: "attachments" // AttachmentsContentElement
              }
            ]
          },
        });

        var legend = new Legend({
            view: view,
            layerInfos: [{
                layer: suburbLayer,
                title: "Total tweets"
            }]
        });

        map.add(suburbLayer, 0);
        view.ui.add("titleDiv", "bottom-right");
        view.ui.add(legend, "bottom-left");
    })
</script>
<script src="../static/food_charts.js"></script>