<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="../static/core.css"> 
</head>
<body>
    <div class="loading">
        <div class="lds-css ng-scope">
            <div class="lds-cube">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <header class="header text-size24">
        <hgroup class="title">Cluster and Cloud Computing</hgroup>
        <nav class="nav">
            <ul>
                <li>First</li>
                <li><a href="web/exercise_page" , target="_blank">Second</a></li>
                <li><a href="web/sleep_page" , target="_blank">Third</a></li>
            </ul>
        </nav>  
    </header>
        <section>
                <aside class="aside"> 
            <ul class="tab">
                <li><a href="#mapviewDiv">Top</a></li>
                <li><a href="#australia">Australian Food</a></li>
                <li><a href="#china">Chinese Food</a></li>
                <li><a href="#greece">Greek Food</a></li>
                <li><a href="#india">Indian Food</a></li>
                <li><a href="#italy">Italian Food</a></li>
                <li><a href="#japan">Japanese Food</a></li>
                <li><a href="#korea">Korean Food</a></li>
                <li><a href="#thai">Thai Food</a></li>
            </ul>
                </aside>
        <article class="article">
            <!-- <div id="foods-filter" class="esri-widget">
                <div class="food-item visible-food" data-food="food_australia">Australian</div>
                <div class="food-item visible-food" data-food="food_china">Chinese</div>
                <div class="food-item visible-food" data-food="food_greece">Greek</div>
                <div class="food-item visible-food" data-food="food_india">Indian</div>
                <div class="food-item visible-food" data-food="food_italy">Italian</div>
                <div class="food-item visible-food" data-food="food_japan">Japanese</div>
                <div class="food-item visible-food" data-food="food_korea">Korean</div>
                <div class="food-item visible-food" data-food="food_thai">Thai</div>
            </div> -->
            <div id="mapviewDiv"></div>
            <div id="titleDiv" class="esri-widget">
                <div id="titleText">Food</div>
                <div>Different country Food Heat in suburbs</div>
            </div>
            <div id="charts"></div>                   
        </article>              
    </section>
</body>
</html>
<script src="http://libs.baidu.com/jquery/2.1.1/jquery.min.js"></script>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css" />
<script src="https://js.arcgis.com/4.15/"></script>
<script>
    document.onreadystatechange = function () {
        //console.log(document.readyState);
        if (document.readyState == "complete") {
            $('.loading').fadeOut();
        }
    }
</script>
<script>
    require(["esri/Map", "esri/views/MapView", "esri/layers/FeatureLayer", "esri/widgets/Expand"], function (Map,
        MapView, FeatureLayer, Expand) {
        let foodLayerView;
        var map = new Map({
            basemap: "gray"
        });
        var view = new MapView({
            container: "mapviewDiv", // Reference to the scene div created in step 5
            map: map, // Reference to the map object created before the scene
            zoom: 10, // Sets zoom level based on level of detail (LOD)
            center: [145.06, -37.91] // Sets center point of view using longitude,latitude
        });

        var suburbLayer = new FeatureLayer({
            portalItem: {  // autocasts as esri/portal/PortalItem
                id: "a6bb1278495f42b58fcae4f17851972e"
            }
        });

        var template = {
            // NAME and COUNTY are fields in the service containing the Census Tract (NAME) and county of the feature
            title: "{name}",
            content: [{
                type: "fields",
                fieldInfos: [{
                        fieldName: "food_austrilia",
                        label: "Austrilian Food"
                    },
                    {
                        fieldName: "food_china",
                        label: "Chinese Food"
                    },
                    {
                        fieldName: "food_korea",
                        label: "Korean Food"
                    },
                    {
                        fieldName: "food_india",
                        label: "Indian Food"
                    },
                    {
                        fieldName: "food_greece",
                        label: "Greek Food"
                    },
                    {
                        fieldName: "food_italy",
                        label: "Italian Food"
                    },
                    {
                        fieldName: "food_thai",
                        label: "Thai Food"
                    }
                ]
            }]
        };
        map.add(suburbLayer, 0);
        view.ui.add("titleDiv", "bottom-right");
        suburbLayer.popupTemplate = template;

        view.popup = {
            dockEnabled: true,
            dockOptions: {
                // Disables the dock button from the popup
                buttonEnabled: true,
                // Ignore the default sizes that trigger responsive docking
                breakpoint: true
            }
        };

        const foodNodes = document.querySelectorAll(`.food-item`);
        const foodElement = document.getElementById("foods-filter");

        // foodElement.addEventListener("click", filterByFood);

        // function filterByFood(event) {
        //     const selectedSFood = event.target.getAttribute("data-season");
        //     foodLayerView.filter = {
        //         where: selectedSFood
        //     };
        // }



        // view.whenLayerView(suburbLayer).then(function (layerView) {
        //     foodLayerView = layerView;
        //     // console.log("2", foodLayerView.availableFields);

        //     // foodElement.style.visibility = "visible";
        //     const foodExpand = new Expand({
        //         view: view,
        //         content: foodElement,
        //         expandIconClass: "esri-icon-filter",
        //         group: "top-left"
        //     });
        //     foodExpand.watch("expanded", function () {
        //         if (!foodExpand.expanded) {
        //             foodLayerView.filter = null;
        //         }
        //     });

        //     // view.ui.add(foodExpand, "top-left");
        // });
    })
</script>
<script src="../static/food_charts.js"></script>