<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>HomePage </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- CSS here -->
	<link rel="stylesheet" href="../static/assets/bootstrap.min.css">
	<link rel="stylesheet" href="../static/assets/animate.min.css">
	<link rel="stylesheet" href="../static/assets/style.css">
</head>

<body>
<header>
</header>
<main>
    <div class="slider-area ">
        <div class="slider-active">
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-7 col-lg-7 col-md-8">
                            <div class="hero__caption">
                                <span data-animation="fadeInUp" data-delay=".4s">GROUP MEMBER:<br>Xuesen Li, Wanqi Geng, Ziyan Zhao, <br>Deiwei Yu, Xuan Zhou</span>
                                <h1 data-animation="fadeInUp" data-delay=".6s">Twitter Data Analysis</h1>
                                <!-- Hero-btn -->
                                <div class="hero__btn">
                                    <a href="/web/food_page" class="btn hero-btn"  data-animation="fadeInLeft" data-delay=".8s">Data Visualization</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
    <script src="../static/assets/modernizr-3.5.0.min.js"></script>
    <script src="../static/assets/jquery-1.12.4.min.js"></script>
    <script src="../static/assets/popper.min.js"></script>
    <script src="../static/assets/bootstrap.min.js"></script>
    <script src="../static/assets/slick.min.js"></script>
    <script src="../static/assets/main.js"></script>
    
</body>
</html>