<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="../static/core.css">
</head>

<body>
    <div class="loading">
        <div class="lds-css ng-scope">
            <div class="lds-cube">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <header class="header text-size24">
        <hgroup class="title">Cluster and Cloud Computing</hgroup>
        <nav class="nav">
            <ul>
                <li><a href="http://127.0.0.1:5000/web" , target="_blank">First</a></li>
                <li><a href="http://127.0.0.1:5000/web/exercise_page" , target="_blank">Second</a></li>
                <li>Third</a></li>
            </ul>
        </nav>     
    </header>
        <section>
                <aside class="aside"> 
                    <ul class="tab">
                        <li><a href="#mapviewDiv">Top</a></li>
                        <li><a href="#result">Result</a></li>
                    </ul>
                </aside>
        <article class="article">
            <div id="mapviewDiv"></div>
            <div id="titleDiv" class="esri-widget">
                <div id="titleText">Sleep</div>
                <div>Relation between Age and tweet time in suburbs</div>
            </div>
            <div id="charts">
                <div id="chartContainer1" , class="chartContainer">
                    <h2 id="result">The relation between age and tweet time</h2>
                    <div id="chartdiv1"></div>
                </div>
            </div>
                        
        </article>
                </section>
    <!--<footer>尾部</footer>-->
        
</body>
</html>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css" />
<script src="https://js.arcgis.com/4.15/"></script>
<script>
    document.onreadystatechange = function () {
        //console.log(document.readyState);
        if (document.readyState == "complete") {
            $('.loading').fadeOut();
        }
    }
</script>
<script>
    require(["esri/Map", "esri/views/MapView", "esri/layers/FeatureLayer", ], function (Map, MapView, FeatureLayer) {

        var map = new Map({
            basemap: "gray"
        });
        var view = new MapView({
            container: "mapviewDiv", // Reference to the scene div created in step 5
            map: map, // Reference to the map object created before the scene
            zoom: 10, // Sets zoom level based on level of detail (LOD)
            center: [144.96, -37.81] // Sets center point of view using longitude,latitude
        });

        var suburbLayer = new FeatureLayer({
            url: "https://services3.arcgis.com/GLd5FI430ZgiGlSL/arcgis/rest/services/suburb_info/FeatureServer/0",
        });

        var template = {
            // NAME and COUNTY are fields in the service containing the Census Tract (NAME) and county of the feature
            title: "{name}",
            content: [{
                type: "fields",
                fieldInfos: [{
                        fieldName: "average_person_tweets",
                        label: "Average tweets per person"
                    },
                    {
                        fieldName: "median_age",
                        label: "Median age"
                    },
                ]
            }]
        };

        map.add(suburbLayer, 0);
        view.ui.add("titleDiv", "bottom-right");
        suburbLayer.popupTemplate = template;
    })
</script>
<script src="../static/sleep_chart.js"></script>