<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Result</title>
    <link rel="stylesheet" type="text/css" href="../static/core.css">
    <style>
        .article charts chartContainer div {
            width: 95%;
            height: 350px;
        }
    </style>
</head>
<body>
    <div class="loading">
        <div class="lds-css ng-scope">
            <div class="lds-cube">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <header class="header text-size24">
        <hgroup class="title"><a href="/web" style="list-style: none;text-decoration: none;">Cluster and Cloud Computing</a></hgroup>
        <nav class="nav">
            <ul>
                <li><a href="food_page" , target="_self">Food</a></li>
                <li><a href="exercise_page" , target="_self">Exercise</a></li>
                <li>Sleep</li>
            </ul>
        </nav>     
    </header>
        <section>
                <aside class="aside"> 
                    <ul class="tab">
                        <li><a href="#mapviewDiv">Top</a></li>
                        <li><a href="#result">Result</a></li>
                        <!-- <li><a href="#0_6">0 - 6</a></li>
                        <li><a href="#6_12">6 - 12</a></li>
                        <li><a href="#12_18">12 - 18</a></li>
                        <li><a href="#18_24">18 - 24</a></li> -->
                    </ul>
                </aside>
        <article class="article">
            <div id="mapviewDiv"></div>
            <div id="titleDiv" class="esri-widget">
                <div id="titleText">Sleep</div>
                <div>Relation between Age and tweet time in suburbs</div>
            </div>
            <div id="charts">
                <chartContainer id="chartContainer1" , class="chartContainer">
                    <h2 id="result">The relation between age and tweet time from 0-6am</h2>
                    <div id="chartdiv1"></div>
                </chartContainer>
                <!-- <chartContainer id="chartContainer1" , class="chartContainer">
                    <h2 id="0_6">The relation between age and tweet time from 0-6</h2>
                    <div id="chartdiv1"></div>
                </chartContainer> -->
                <!-- <chartContainer id="chartContainer2" , class="chartContainer">
                    <h2 id="6_12">The relation between age and tweet time from 6-12</h2>
                    <div id="chartdiv2"></div>
                </chartContainer>
                <chartContainer id="chartContainer3" class="chartContainer">
                    <h2 id="12_18">The relation between age and tweet time from 12-18</h2>
                    <div id="chartdiv3"></div>
                </chartContainer>
                <chartContainer id="chartContainer4" , class="chartContainer">
                    <h2 id="18_24">The relation between age and tweet time from 18-24</h2>
                    <div id="chartdiv4"></div>
                </chartContainer> -->
            </div>
                        
        </article>
    </section>
</body>
</html>
<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dark.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/dataviz.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<link rel="stylesheet" href="https://js.arcgis.com/4.15/esri/themes/light/main.css" />
<script src="https://js.arcgis.com/4.15/"></script>
<script>
    document.onreadystatechange = function () {
        //console.log(document.readyState);
        if (document.readyState == "complete") {
            $('.loading').fadeOut();
        }
    }
</script>
<script>
    require(["esri/Map", "esri/views/MapView", "esri/layers/FeatureLayer", "esri/widgets/Legend"], function (Map, MapView, FeatureLayer, Legend) {

        var map = new Map({
            basemap: "gray"
        });
        var view = new MapView({
            container: "mapviewDiv", // Reference to the scene div created in step 5
            map: map, // Reference to the map object created before the scene
            zoom: 11, // Sets zoom level based on level of detail (LOD)
            center: [145.00, -37.80], // Sets center point of view using longitude,latitude
            popup: {
                dockEnabled: true,
                dockOptions: {
                    buttonEnabled: false,
                    breakpoint: false
                }
            }
        });

        var suburbLayer = new FeatureLayer({
            portalItem: {  // autocasts as esri/portal/PortalItem
                id: "2593cb3f2eb34e4caca3014f8370b841"
            }
        });

        var template = {
            // NAME and COUNTY are fields in the service containing the Census Tract (NAME) and county of the feature
            title: "{name}",
            content: [{
                type: "fields",
                fieldInfos: [{
                        fieldName: "average_person_tweets",
                        label: "Average tweets per person"
                    },
                    {
                        fieldName: "median_age",
                        label: "Median age"
                    },
                    {
                        fieldName: "sleep_total",
                        label: "Total tweets"
                    },
                ]
            }]
        };

        var legend = new Legend({
            view: view,
            layerInfos: [{
                layer: suburbLayer,
                title: "Average tweets per person"
            }]
        });

        map.add(suburbLayer, 0);
        view.ui.add("titleDiv", "bottom-right");
        suburbLayer.popupTemplate = template;
        // view.ui.add(legend, "bottom-left");
    })
</script>
<script src="../static/sleep_chart.js"></script>