<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>test</title>
</head>
<body>
<h1>
    <span id='text'>test text</span>
</h1>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    food_jason = ""
    $.ajax({
        url: 'http://127.0.0.1:5000/food',
        type: 'GET',
        success: function (result) {
            console.log(result);
            food_jason = result;
              $('#text').text(food_jason);
        }
    });

</script>

</body>
</html>