body {
    height: 100%;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

.header {
    position: absolute;
    height: 90px;
    line-height: 90px;
    left: 0;
    right: 0;
    z-index: 1;
    -webkit-box-shadow: 0 10px 10px 0 rgba(17, 103, 166, 0.10);
    box-shadow: 0 10px 10px 0 rgba(17, 103, 166, 0.10);
    padding: 0px 0px 0px 30px;
    background: rgb(238, 238, 238);
    /* overflow: hidden; */
}

.title,
.nav,
.username-show {
    float: left;
}

.title {
    font-weight: bold;
    color: rgb(34, 87, 185);
}

.nav {
    margin-left: 60px;
}

.nav ul {
    list-style: none;
    padding-left: 0;
    /* border: 1px solid gray; */
    display: inline-block;
    padding: 0px;
    border-radius: 5px;
}

.nav ul li {
    display: inline;
    padding: 30px;
}

.nav ul li:hover {
    background-color: #cfcfcf;
    cursor: pointer;
    border-radius: 5px;
    color: rgb(140, 133, 235);
    font-weight: bold;
}

.nav ul li a {
    text-decoration: none;
}

.section-right {
    float: right;
}

.aside {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    color: #FFF;
    width: 250px;
    background: #1A293A;
    padding: 70px 0px 0px 0px;
    overflow: auto;
    text-align: center;


}

.aside ul {
    list-style: none;
    padding-left: 0;
    padding-top: 0px;
    /* border: 1px solid gray; */
    display: line;
    /* padding:0px; */
    border-radius: 5px;
}

.aside ul li {
    padding: 30px;
}

.aside ul li:hover {
    background-color: #403750;
    cursor: pointer;
    border-radius: 5px;
    /* color: rgb(83, 158, 146); */
    font-weight: inherit;
}

.aside ul li a {
    text-decoration: none;
    color: #C0C2C5;
}

.article {
    position: absolute;
    left: 250px;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 110px 0px 0px 15px;
    overflow: auto;
    background: #f5f5f5;
}

.article h2 {
    font-weight: inherit;

}

#charts {
    padding-top: 20px;
}

.article chartContainer {
    padding-top: 100px;
    width: 100%;
}

#mapviewDiv {
    padding-top: 115px;
    margin-top: -115px;
    width: 95%;
    padding-right: 10px;
    height: 95%;
}

#titleDiv {
    padding: 10px;
    height: 70px;
}

#titleText {
    font-size: 20pt;
    font-weight: 60;
    padding-bottom: 10px;
}

.article chartContainer h2 {
    padding-top: 110px;
    margin-top: -110px;
}

.article chartContainer div {
    width: 95%;
    height: 275px;
}
.loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #000
}

@keyframes lds-cube {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

@-webkit-keyframes lds-cube {
    0% {
        -webkit-transform: scale(1.5);
        transform: scale(1.5)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }
}

.lds-cube {
    position: absolute;
    width: 200px;
    height: 200px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0
}

.lds-cube div {
    position: absolute;
    width: 80px;
    height: 80px;
    top: 10px;
    left: 10px;
    background: #1d3f72;
    -webkit-animation: lds-cube 1s cubic-bezier(0, .5, .5, 1) infinite;
    animation: lds-cube 1s cubic-bezier(0, .5, .5, 1) infinite;
    -webkit-animation-delay: -.3s;
    animation-delay: -.3s
}

.lds-cube div:nth-child(2) {
    top: 10px;
    left: 110px;
    background: #5699d2;
    -webkit-animation-delay: -.2s;
    animation-delay: -.2s
}

.lds-cube div:nth-child(3) {
    top: 110px;
    left: 110px;
    background: #71c2cc;
    -webkit-animation-delay: 0s;
    animation-delay: 0s
}

.lds-cube div:nth-child(4) {
    top: 110px;
    left: 10px;
    background: #d8ebf9;
    -webkit-animation-delay: -.1s;
    animation-delay: -.1s
}

.lds-cube {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px)
}