<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Test_vue</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    
    <body>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://www.amcharts.com/lib/version/4.9.19/core.js"></script>
        <script src="https://www.amcharts.com/lib/version/4.9.19/charts.js"></script>
        <script src="https://www.amcharts.com/lib/version/4.9.19/themes/material.js"></script>
        <script src="https://www.amcharts.com/lib/version/4.9.19/lang/de_DE.js"></script>
        <script src="https://www.amcharts.com/lib/version/geodata/4.1.15/germanyLow.js"></script>
        <div id="app">
            {{ message }}
        </div>
        
        <div id="app-2">
            <!-- {{ message }}
            <h2 v-text="message"></h2>
            <h2>Vivian{{message}}</h2> -->
            <span v-bind:title="message">
                鼠标悬停几秒钟查看此处动态绑定的提示信息！
            </span>
        </div>

        <div id="app-3">
            <p v-if="seen">
                now you see me!
            </p>
        </div>

        <div id="app-4">
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
        </div>

        <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">反转消息</button>
        </div>

        <div id="app-6">
            <p>{{ message }}</p>
            <input v-model="message">
        </div>


        <script>
            var app = new Vue({
                el: '#app-2',
                data:{
                    message: '页面加载于 ' + new Date().toLocaleString()
                }
            })
        </script>
        <script>
            var app2 = new Vue({
                el: "#app",
                data:{
                    message: 'Hello Vue!',
                    school:{
                        name: "UNIMELB",
                        mobile:"0478846888"
                    },
                    campus:[
                        "北", "上","广","深"
                ]
                }
            })
        </script>
        
        <script>
            var app3 = new Vue({
                el: '#app-3',
                data: {
                    seen: true
                }
                })
        </script>

        <script>
            var app4 = new Vue({
                el: '#app-4',
                data: {
                    todos: [
                    { text: '学习 JavaScript' },
                    { text: '学习 Vue' },
                    { text: '整个牛项目' }
                    ]
                }
            })
        </script>

        <script>
            var app5 = new Vue({
                el: '#app-5',
                data: {
                message: 'Hello Vue.js!'
            },
                methods: {
                    reverseMessage:function(){
                        this.message = this.message.split('').reverse().join('')
                    }
                },
            })
        </script>

        <script>
        var app6 = new Vue({
            el: '#app-6',
            data: {
              message: 'Hello Vue!'
            }
        })
        </script>

    </body>
</html>